automation/n8n/Agente_QA_Playwright_MCP.json
{
  "id": "mrqcEZGkwBYN132M",
  "name": "Agente QA — Playwright MCP",
  "active": false,
  "nodes": [
    {
      "parameters": {},
      "id": "trigger-manual",
      "name": "Iniciar Execução",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [160, 320]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "projeto",
              "name": "projeto",
              "value": "Projeto Exemplo",
              "type": "string"
            },
            {
              "id": "sprint",
              "name": "sprint",
              "value": "Sprint 1",
              "type": "string"
            },
            {
              "id": "sistema-url",
              "name": "sistema_url",
              "value": "https://example.com",
              "type": "string"
            },
            {
              "id": "cenarios-gherkin",
              "name": "cenarios_gherkin",
              "value": "Funcionalidade: Página de exemplo\n\nCenário: Validar o título da página\n  Dado que acesso a página Example Domain\n  Então o título deve conter a palavra \"Example\"\n\nCenário: Validar o link de informações\n  Dado que acesso a página Example Domain\n  Quando visualizo o conteúdo principal\n  Então deve existir o link \"More information\"",
              "type": "string"
            },
            {
              "id": "diretorio-evidencias",
              "name": "diretorio_evidencias",
              "value": "C:\\Users\\jessi\\Documents\\Orchestrator\\orchestrator-platform\\artifacts\\playwright-mcp",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "definir-execucao",
      "name": "Definir Execução",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [360, 320],
      "notes": "Cole todos os cenários no campo cenarios_gherkin. Cada bloco iniciado por 'Cenário:' será executado separadamente."
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const entrada = $input.first().json;\nconst texto = String(entrada.cenarios_gherkin || '').replace(/\\r\\n/g, '\\n').trim();\nif (!texto) throw new Error('Nenhum cenário Gherkin foi informado.');\n\nlet blocos = texto.split(/(?=^\\s*(?:Cenário|Scenario):)/gmi).filter((bloco) => /^\\s*(?:Cenário|Scenario):/i.test(bloco));\nif (blocos.length === 0) blocos = [texto];\n\nconst executionId = `n8n-${$execution.id}`;\nconst slug = (valor) => String(valor).normalize('NFD').replace(/[\\u0300-\\u036f]/g, '').toLowerCase().replace(/[^a-z0-9]+/g, '-').replace(/^-|-$/g, '').slice(0, 50) || 'cenario';\n\nreturn blocos.map((bloco, indice) => {\n  const tituloEncontrado = bloco.match(/^\\s*(?:Cenário|Scenario):\\s*([^\\n]+)/i);\n  const titulo = tituloEncontrado ? tituloEncontrado[1].trim() : `Cenário ${indice + 1}`;\n  const scenarioId = `CT-${String(indice + 1).padStart(3, '0')}-${slug(titulo)}`;\n  const { cenarios_gherkin, ...base } = entrada;\n  return {\n    json: {\n      ...base,\n      execution_id: executionId,\n      scenario_index: indice + 1,\n      scenario_id: scenarioId,\n      scenario_title: titulo,\n      cenario: bloco.trim(),\n      evidence_prefix: `${entrada.diretorio_evidencias}\\\\${executionId}-${scenarioId}`\n    }\n  };\n});"
      },
      "id": "preparar-cenarios",
      "name": "Preparar Cenários",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [570, 320]
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "id": "loop-cenarios",
      "name": "Loop Sobre Cenários",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [790, 320]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Execute exatamente um cenário de teste usando obrigatoriamente as ferramentas do Playwright MCP.\n\nEXECUÇÃO: {{ $json.execution_id }}\nCENÁRIO: {{ $json.scenario_id }} — {{ $json.scenario_title }}\nPROJETO: {{ $json.projeto }}\nSPRINT: {{ $json.sprint }}\nSISTEMA AUTORIZADO: {{ $json.sistema_url }}\n\nGHERKIN:\n{{ $json.cenario }}\n\nEVIDÊNCIAS:\n- Capture obrigatoriamente uma screenshot ao final do cenário.\n- Em caso de falha, capture também o estado exato da falha.\n- Use caminhos absolutos: {{ $json.evidence_prefix }}-final.png e {{ $json.evidence_prefix }}-falha.png.\n- Informe somente evidências realmente geradas.\n\nCÓDIGO DE REGRESSÃO:\n- Quando a execução fornecer elementos confiáveis, gere um teste Playwright + TypeScript completo em codigo_regressao.\n- Importe test e expect de @playwright/test.\n- Use process.env.BASE_URL como URL configurável.\n- Use somente seletores semânticos: getByRole, getByLabel, getByText, getByPlaceholder, getByAltText, getByTitle ou getByTestId.\n- Nunca inclua senhas, tokens ou outros segredos.\n- Para BLOQUEADO ou ERRO_AUTOMACAO, retorne codigo_regressao como null.\n\nRetorne somente JSON válido, sem bloco Markdown, no formato: {\"status\":\"PASSOU|FALHOU|BLOQUEADO|ERRO_AUTOMACAO\",\"resumo\":\"\",\"passos\":[{\"descricao\":\"\",\"status\":\"PASSOU|FALHOU|NAO_EXECUTADO\",\"detalhe\":\"\"}],\"evidencias\":[{\"tipo\":\"screenshot\",\"caminho\":\"\",\"momento\":\"\"}],\"falhas_reais\":[],\"falhas_automacao\":[],\"codigo_regressao\":\"código TypeScript completo ou null\"}",
        "options": {
          "systemMessage": "Você é um agente de QA autônomo. Use seletores semânticos como role, label e texto visível. Nunca exponha credenciais. Restrinja-se ao sistema autorizado. Se uma ação falhar por instabilidade, tente somente mais uma vez e registre as duas tentativas. Não classifique falha de infraestrutura, seletor ou automação como defeito do sistema. Nunca invente evidências."
        }
      },
      "id": "agente-qa",
      "name": "Agente QA",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [1030, 430],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "model": {
          "mode": "list",
          "value": "gpt-4o"
        },
        "options": {
          "maxTokens": 4096,
          "temperature": 0.1
        }
      },
      "id": "openai-model",
      "name": "GPT-4o",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [900, 650],
      "credentials": {
        "openAiApi": {
          "id": "Vr4idKY5ymrrpFj5",
          "name": "OpenAI account"
        }
      }
    },
    {
      "parameters": {
        "endpointUrl": "http://host.docker.internal:8931/mcp",
        "serverTransport": "httpStreamable",
        "options": {}
      },
      "id": "playwright-mcp",
      "name": "MCP Client",
      "type": "@n8n/n8n-nodes-langchain.mcpClientTool",
      "typeVersion": 1.4,
      "position": [1130, 650]
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ 'qa-session-' + $json.projeto + '-' + $json.sprint }}",
        "contextWindowLength": 20
      },
      "id": "memory",
      "name": "Memória da Sprint",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [1010, 650]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const origem = $('Loop Sobre Cenários').item.json;\nconst erro = $json.error;\nconst saida = $json.output;\nconst bruto = typeof saida === 'string' ? saida : JSON.stringify(saida ?? '');\nlet resultado;\n\nif (erro) {\n  resultado = {\n    status: 'ERRO_AUTOMACAO',\n    resumo: 'O agente não conseguiu executar o cenário.',\n    passos: [],\n    evidencias: [],\n    falhas_reais: [],\n    falhas_automacao: [typeof erro === 'string' ? erro : (erro.message || JSON.stringify(erro))]\n  };\n} else if (saida && typeof saida === 'object') {\n  resultado = saida;\n} else {\n  try {\n    const limpo = bruto.replace(/^```(?:json)?\\s*/i, '').replace(/\\s*```$/i, '').trim();\n    resultado = JSON.parse(limpo);\n  } catch {\n    resultado = {\n      status: 'ERRO_AUTOMACAO',\n      resumo: 'A resposta do agente não estava no formato JSON esperado.',\n      passos: [],\n      evidencias: [],\n      falhas_reais: [],\n      falhas_automacao: ['Resposta inválida do agente'],\n      resposta_original: bruto\n    };\n  }\n}\n\nconst permitidos = ['PASSOU', 'FALHOU', 'BLOQUEADO', 'ERRO_AUTOMACAO'];\nif (!permitidos.includes(resultado.status)) resultado.status = 'ERRO_AUTOMACAO';\n\nreturn {\n  json: {\n    ...origem,\n    status: resultado.status,\n    resultado_teste: resultado,\n    data_execucao: new Date().toISOString()\n  }\n};"
      },
      "id": "formatar-resultado",
      "name": "Formatar Resultado",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1260, 430]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const resultados = $input.all().map((item) => item.json);\nconst totais = { PASSOU: 0, FALHOU: 0, BLOQUEADO: 0, ERRO_AUTOMACAO: 0 };\nfor (const item of resultados) totais[item.status] = (totais[item.status] || 0) + 1;\nconst primeiro = resultados[0] || {};\nreturn [{\n  json: {\n    execution_id: primeiro.execution_id || null,\n    projeto: primeiro.projeto || null,\n    sprint: primeiro.sprint || null,\n    sistema_url: primeiro.sistema_url || null,\n    inicio_processamento: resultados[0]?.data_execucao || null,\n    fim_processamento: new Date().toISOString(),\n    total_cenarios: resultados.length,\n    totais,\n    status_geral: totais.FALHOU > 0 ? 'FALHOU' : (totais.BLOQUEADO > 0 ? 'BLOQUEADO' : (totais.ERRO_AUTOMACAO > 0 ? 'ERRO_AUTOMACAO' : 'PASSOU')),\n    resultados\n  }\n}];"
      },
      "id": "consolidar-execucao",
      "name": "Consolidar Execução",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1030, 180]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.ORCHESTRATOR_API_URL + '/api/qa/evidence-docx' }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ 'Bearer ' + $env.QA_AGENT_API_TOKEN }}"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify($json) }}",
        "options": {
          "timeout": 120000
        }
      },
      "id": "gerar-evidencias-docx",
      "name": "Gerar Evidências DOCX",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1270, 180]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.ORCHESTRATOR_API_URL + '/api/qa/regression-code' }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ 'Bearer ' + $env.QA_AGENT_API_TOKEN }}"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify($json) }}",
        "options": {
          "timeout": 120000
        }
      },
      "id": "salvar-regressao-playwright",
      "name": "Salvar Regressão Playwright",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1510, 180],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.ORCHESTRATOR_API_URL + '/api/qa/test-executions' }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ 'Bearer ' + $env.QA_AGENT_API_TOKEN }}"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify($json) }}",
        "options": {
          "timeout": 120000
        }
      },
      "id": "registrar-execucao",
      "name": "Registrar Execução",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1510, 340],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.ORCHESTRATOR_API_URL + '/api/qa/defect-cards' }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ 'Bearer ' + $env.QA_AGENT_API_TOKEN }}"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify($json) }}",
        "options": {
          "timeout": 120000
        }
      },
      "id": "gerar-cards-markdown",
      "name": "Gerar Cards Markdown",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1510, 500],
      "onError": "continueRegularOutput"
    }
  ],
  "connections": {
    "Iniciar Execução": {
      "main": [[{ "node": "Definir Execução", "type": "main", "index": 0 }]]
    },
    "Definir Execução": {
      "main": [[{ "node": "Preparar Cenários", "type": "main", "index": 0 }]]
    },
    "Preparar Cenários": {
      "main": [[{ "node": "Loop Sobre Cenários", "type": "main", "index": 0 }]]
    },
    "Loop Sobre Cenários": {
      "main": [
        [{ "node": "Consolidar Execução", "type": "main", "index": 0 }],
        [{ "node": "Agente QA", "type": "main", "index": 0 }]
      ]
    },
    "Agente QA": {
      "main": [[{ "node": "Formatar Resultado", "type": "main", "index": 0 }]]
    },
    "Formatar Resultado": {
      "main": [[{ "node": "Loop Sobre Cenários", "type": "main", "index": 0 }]]
    },
    "Consolidar Execução": {
      "main": [[{ "node": "Gerar Evidências DOCX", "type": "main", "index": 0 }]]
    },
    "Gerar Evidências DOCX": {
      "main": [[
        { "node": "Salvar Regressão Playwright", "type": "main", "index": 0 },
        { "node": "Registrar Execução", "type": "main", "index": 0 },
        { "node": "Gerar Cards Markdown", "type": "main", "index": 0 }
      ]]
    },
    "GPT-4o": {
      "ai_languageModel": [[{ "node": "Agente QA", "type": "ai_languageModel", "index": 0 }]]
    },
    "MCP Client": {
      "ai_tool": [[{ "node": "Agente QA", "type": "ai_tool", "index": 0 }]]
    },
    "Memória da Sprint": {
      "ai_memory": [[{ "node": "Agente QA", "type": "ai_memory", "index": 0 }]]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "staticData": null,
  "tags": [
    { "id": "znprY8zbbzBivxT3", "name": "QA" },
    { "id": "TQDsMm1UpvSqmHQR", "name": "Playwright" },
    { "id": "BnOGQUnEE7uAeXCO", "name": "Automação" }
  ],
  "triggerCount": 0,
  "versionId": "f746a5bd-70db-433d-87a0-56928e83f94c"
}
